<link rel="stylesheet" href="../../pawsitive-poodles/assets/css/footer.css" />
<footer>
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-address">
        <h3>Pawsitive Poodles</h3>
        <p>101 Poodle Drive</p>
        <p>Doncaster</p>
        <p>South Pupshire</p>
        <p>P00 DL3</p>
        <p class="poodle-copyright">
          &copy; Pawsitive Poodles 2024. All Rights Reserved.
        </p>
        <p class="poodle-copyright">
          Registered Charity in England and Wales 9999999, Scotland SC0999999.
        </p>
        <p class="poodle-copyright">
          A company limited by guarantee, registered in England 9999999.
        </p>
        <p class="poodle-copyright">Not a real company, but it should be!</p>
      </div>
      <div class="footer-contact">
        <a
          class="contact-information-links"
          href="01234 567 890"
          type="phone"
          target="_blank"
        >
          <p>01234 567 890</p>
        </a>
        <a
          class="contact-information-links"
          href="reception@pawsitivepoodles.co.uk"
          type="email"
          target="_blank"
        >
          <p>reception@pawsitivepoodles.co.uk</p>
        </a>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-right-social-media">
        <!-- Facebook -->
        <a href="https://www.facebook.com/pawsitive-poodles" target="_blank">
          <img
            class="social-media-icon"
            src="../../pawsitive-poodles/assets/images/social-media/facebook.png"
            alt="facebook image link"
            target="_blank"
          />
        </a>
        <!-- ^Facebook^ -->

        <!-- Instagram -->
        <a href="https://www.instagram.com/pawsitive-poodles" target="_blank">
          <img
            class="social-media-icon"
            src="../../pawsitive-poodles/assets/images/social-media/instagram.png"
            alt="instagram image link"
          />
        </a>
        <!-- ^Instagram^ -->

        <!-- Tiktok -->
        <a href="https://www.tiktok.com/pawsitive-poodles" target="_blank">
          <img
            class="social-media-icon"
            src="../../pawsitive-poodles/assets/images/social-media/tiktok.png"
            alt="tiktok image link"
          />
        </a>
        <!-- ^Tiktok^ -->

        <!-- WhatsApp -->
        <a href="https://www.whatsapp.com/pawsitive-poodles" target="_blank">
          <img
            class="social-media-icon"
            src="../../pawsitive-poodles/assets/images/social-media/whatsapp.png"
            alt="whatsapp image link"
          />
        </a>
        <!-- ^WhatsApp^ -->

        <!-- YouTube -->
        <a href="https://www.youtube.com/pawsitive-poodles" target="_blank">
          <img
            class="social-media-icon"
            src="../../pawsitive-poodles/assets/images/social-media/youtube.png"
            alt="youtube image link"
          />
        </a>
        <!-- ^YouTube^ -->
      </div>
      <div>
        <img
          class="mental-health-image"
          src="../../pawsitive-poodles/assets/images/mental-health-awareness.png"
          alt="youtube image link"
        />
      </div>
    </div>
  </div>
</footer>
