<link rel="stylesheet" href="../../pawsitive-poodles/assets/css/header.css" />
<header class="main-header-container">
  <img
    src="../../pawsitive-poodles/assets/images/pawsitive-poodles-logo.png"
    alt="pawsitive poodles logo"
    class="main-header-logo"
  />
  <nav class="main-header-navigation">
    <button class="main-header-button" onclick="location.href='index.html'">
      Home
    </button>
    <button class="main-header-button" onclick="location.href='about.html'">
      About
    </button>
    <button class="main-header-button" onclick="location.href='contact.html'">
      Contact
    </button>
  </nav>
</header>
