<!-- Stylesheet -->
<link
  rel="stylesheet"
  href="../../pawsitive-poodles/assets/css/testimonials.css"
/>
<!-- ^Stylesheet^ -->

<!-- JavaScript -->
<script src="../../pawsitive-poodles/assets/js/testimonials.js" defer></script>
<!-- ^JavaScript^ -->

<div class="testimonial-section">
  <div class="testimonial-content">
    <p id="testimonial-text">This is the first testimonial.</p>
    <img
      id="testimonial-image"
      src="../../pawsitive-poodles/assets/images/pawsitive-poodles-logo.png"
      alt="Testimonial Image 1"
    />
  </div>
</div>
