<link rel="stylesheet" href="../../pawsitive-poodles/assets/css/top-hero.css" />
<div class="top-hero-container">
  <div class="top-hero-paragraph-container">
    <p class="top-hero-about-us">
      We work specifically with Poodles as they are hypoallergenic and are great
      for people with allergies. We have a range of Poodles that we bring to
      different locations to help people with their mental health.
    </p>
    <p class="top-hero-about-us">
      We have been working with Poodles for 10 years and have seen the positive
      impact they have on people's lives.
    </p>
    <p class="top-hero-about-us">
      We also offer a walking service where one of our team will take a small
      group on a local walk, we have found that this has been a key tool in
      getting people out to see the beauty of the English countryside. Which in
      turn has a positive impact on their mental health.
    </p>
  </div>
  <img
    class="shadow-hero"
    src="../../pawsitive-poodles/assets/images/shadow-hero.JPG"
    alt="a picture of shadow the poodle"
  />
</div>
