.footer-container {
  display: flex;
  padding: 20px;
  color: #fff;
  background: #352961;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

/* Todo look at fixing footer on mobile */
@media screen and (max-width: 830px) {
  .footer-container {
    flex-direction: column;
  }
}

.footer-left {
  display: flex;
  flex-direction: row;

  .footer-contact {
    padding: 0 20px;
  }
}

.poodle-copyright {
  font-size: 0.8rem;
  font-weight: lighter;
}

.mental-health-image {
  margin-top: 10px;
  height: 200px;
  width: 250px;
  border-radius: 20px;
}

.contact-information-links {
  text-decoration: none;
  color: #fff;
}

.contact-information-links:hover {
  color: #c53683;
}

/* Bit of a bodge - better using SVGs - can set colour directly then */
.social-media-icon {
  filter: invert(22%) sepia(84%) saturate(3264%) hue-rotate(312deg)
    brightness(97%) contrast(101%);
}

.social-media-icon:hover {
  filter: invert(22%) sepia(84%) saturate(3264%) hue-rotate(312deg)
    brightness(97%) contrast(101%) drop-shadow(0 0 5px #fff);
}
