.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(53, 41, 97, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 10vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .main-header-logo {
    width: 250px;
    height: 100px;
    border-radius: 5px;
  }

  .main-header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;

    .main-header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      margin-left: 20px;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      background-color: #c53683;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      min-width: 150px;

      &:hover {
        color: #000;
        background-color: #e6b2c6;
      }

      // todo media query not working properly on mobile
      @media screen and (max-width: 600px) {
        .main-header-button {
          padding: 10px 10px;
          font-size: 2.5rem;
          min-width: 200px;
        }
      }
    }
  }
}
