.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #352961;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 10vh;

  .main-header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;

    .main-header-logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
      text-decoration: none;
    }

    .main-header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      margin-left: 20px;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      background-color: #c53683;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      min-width: 100px;

      &:hover {
        color: #000;
        background-color: #e6b2c6;
      }
    }
  }
}
