/* Custom Font */
@font-face {
  font-family: "PoodleFont";
  src: url("../../assets/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
}

* {
  font-family: "PoodleFont", sans-serif;
}

/* naughty fix for header */
body {
  margin-top: 14vh;
  background: #407088;
}
