/* Custom Font */
@font-face {
  font-family: "PoodleFont";
  src: url("../../assets/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
}

* {
  font-family: "PoodleFont", sans-serif;
}

body {
  background: #407088;
  margin: 0;
}

/* Bit of a bodge to make clicking anchor tag smooth */
html {
  scroll-behavior: smooth;
}
