.testimonial-section {
  text-align: center;
  padding: 20px;
  margin: 40px 10px;
  background: #352961;
  color: #fff;
  height: 90vh;
  font-size: 1.5rem;
  border-radius: 20px;
  max-height: 800px;
}

@media (max-width: 1300px) {
  .testimonial-section {
    height: 55vh;
    padding: 20px;
    margin: 20px 10px;
  }
}

@media (max-width: 800px) {
  .testimonial-section {
    height: 35vh;
    padding: 15px;
    margin: 15px 8px;
  }
}

@media (max-width: 400px) {
  .testimonial-section {
    height: auto; /* Adjust to auto so it wraps content if necessary */
    padding: 10px;
  }
}

.testimonial-content img {
  width: 100%; /* Set to 100% to fit within the container */
  max-width: 800px; /* Limit max-width to avoid stretching */
  height: auto;
  border-radius: 20px;
  border: 5px solid #c53683;
  margin-top: 10px;
}

/* IFRAME STUFFS */

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 50px 10px;

  .iframe-video {
    border-radius: 20px;
    border: 5px solid #352961;
  }
}
